<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="styles/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="styles/window.css" />
<link rel="stylesheet" type="text/css" href="styles/ng-grid.min.css" />
<link rel="stylesheet" type="text/css" href="styles/font-awesome.min.css" />

<script type="text/javascript" src="scripts/lib/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="scripts/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/lib/angular.min.js"></script>
<script type="text/javascript" src="scripts/lib/ng-grid-2.0.7.debug.js"></script>
<script type="text/javascript" src="scripts/lib/encoding.js"></script>
<script type="text/javascript" src="scripts/lib/encoding-indexes.js"></script>
<script type="text/javascript" src="scripts/lib/sha1.js"></script>
<script type="text/javascript" src="scripts/lib/mysql_js_driver_1.2.0.js"></script>
<script type="text/javascript" src="scripts/window/main.js"></script>
<script type="text/javascript" src="scripts/window/mysql_client_service.js"></script>
<script type="text/javascript" src="scripts/window/mode_service.js"></script>
<script type="text/javascript" src="scripts/window/target_object_service.js"></script>
<script type="text/javascript" src="scripts/window/rows_paging_service.js"></script>
<script type="text/javascript" src="scripts/window/rows_selection_service.js"></script>
<script type="text/javascript" src="scripts/window/favorite_service.js"></script>
<script type="text/javascript" src="scripts/window/login_form_controller.js"></script>
<script type="text/javascript" src="scripts/window/navbar_controller.js"></script>
<script type="text/javascript" src="scripts/window/database_object_list_controller.js"></script>
<script type="text/javascript" src="scripts/window/favorite_list_controller.js"></script>
<script type="text/javascript" src="scripts/window/logout_confirm_dialog_controller.js"></script>
<script type="text/javascript" src="scripts/window/delete_row_confirm_dialog_controller.js"></script>
<script type="text/javascript" src="scripts/window/fatal_dialog_controller.js"></script>
<script type="text/javascript" src="scripts/window/main_footer_controller.js"></script>
<script type="text/javascript" src="scripts/window/rows_panel_controller.js"></script>
<script type="text/javascript" src="scripts/window/structure_panel_controller.js"></script>
<script type="text/javascript" src="scripts/window/progress_bar_controller.js"></script>
<script type="text/javascript" src="scripts/window/query_panel_controller.js"></script>
<script type="text/javascript" src="scripts/window/insert_row_panel_controller.js"></script>

<!-- TODO Remove me! -->
<script type="text/javascript" src="scripts/chromereload.js"></script>

</head>

<body ng-app="chromeMyAdmin" ng-csp>

<div id="progressPanel" ng-controller="ProgressBarController" ng-show="isVisibleProgressBar()" ng-init="initialize()">
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 300px;">
    </div>
  </div>
</div>

<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavbarController" ng-init="initialize();">
  <div class="container-fluid" ng-show="isNavbarVisible()">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{selectedDatabase}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="database in databases" ng-click="selectDatabase($event, database)"><a href="#">{{database}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: isRowsActive()}"><a href="#" ng-click="selectRows()">Rows</a></li>
        <li ng-class="{active: isStructureActive()}"><a href="#" ng-click="selectStructure()">Structure</a></li>
        <li ng-class="{active: isQueryActive()}"><a href="#" ng-click="selectQuery()">Query</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-off" ng-click="logout()"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">

    <!-- Left panel -->
    <div class="col-sm-3 col-md-2 sidebar">

      <!-- Table list panel -->
      <div ng-controller="DatabaseObjectListController" ng-init="initialize()"  ng-show="isDatabaseObjectListVisible()">
        <div id="objectList">
          <div class="list-group">
            <a href="#" ng-repeat="table in tables" class="list-group-item tableLink" ng-click="selectTable(table)" ng-class="{active: isTableActive(table)}"><span class="glyphicon glyphicon-th-large"></span> {{table}}</a>
          </div>
        </div>

        <div class="sidebarFooter">
          <div class="pull-left footerButtonLeft" ng-click="refresh()">
            <span class="fa fa-refresh"></span>
          </div>
        </div>
      </div>

      <!-- Favorite list panel -->
      <div ng-controller="FavoriteListController" ng-init="initialize()" ng-show="isFavoriteListVisible()">
        <div id="favoriteList">
          <div class="list-group">
            <a href="#" class="list-group-item tableLink" ng-repeat="(name, favorite) in favorites" ng-click="selectFavorite(name)"><span class="glyphicon glyphicon-hdd"></span> {{name}}</a>
          </div>
        </div>
        <div class="sidebarFooter">
        </div>
      </div>

    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <div id="mainPanel">

        <!-- Rows panel -->
        <div id="rowsPanel" ng-controller="RowsPanelController" ng-init="initialize()" ng-show="isRowsPanelVisible()">
          <div class="rowsConditionPanel">
            <select class="form-control pull-left" ng-model="filterColumnName" ng-options="columnName for columnName in columnNames"></select>
            <select class="form-control pull-left operators" ng-model="filterOperator" ng-options="operator for operator in operators"></select>
            <input type="text" class="form-control pull-left" ng-model="filterValue" ng-trim="true" />
            <button class="btn btn-default btn-xs pull-right" ng-click="filter()">Filter</button>
          </div>
          <div id="rowsGrid" class="gridStyle" ng-grid="rowsGrid">
          </div>

          <!-- Insert row panel -->
          <div class="panel panel-default insertPanel" ng-controller="InsertRowPanelController" ng-show="isInsertRowPanelVisible()" ng-init="initialize()">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left">Insert row</h3>
              <div class="btn-group pull-right">
                <button type="button" class="close" ng-click="close()">&times;</button>
              </div>
            </div>
            <div class="panel-body insertForm">
              <div ng-show="isErrorMessageVisible()">
                <div class="alert alert-danger">{{errorMessage}}</div>
              </div>
              <form class="form-horizontal" role="form">
                <div class="form-group" ng-repeat="column in targetInputColumns(columnDefinitions)">
                  <label for="{{column.name}}" class="col-sm-2 control-label">{{column.name}}</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" id="{{column.name}}" rows="2" ng-model="values[column.name]" ng-trim="false"></textarea>
                  </div>
                </div>
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
                  <button type="button" class="btn btn-primary" ng-click="insertRow()">Insert</button>
                </div>
              </form>
            </div>
          </div>

        </div>

        <!-- Structure pane -->
        <div id="structurePanel" ng-controller="StructurePanelController" ng-init="initialize()" ng-show="isStructurePanelVisible()">
          <div id="structureGrid" class="gridStyle" ng-grid="structureGrid">
          </div>
        </div>

        <!-- Query pane -->
        <div id="queryPanel" ng-controller="QueryPanelController" ng-init="initialize()" ng-show="isQueryPanelVisible()">
          <textarea id="queryEditor" class="form-control" ng-model="query"></textarea>
          <div class="queryMiddlePanel">
            <button type="button" class="btn btn-default btn-xs pull-right" ng-click="executeQuery()">Execute</button>
          </div>
          <div id="queryResultGrid" class="gridStyle" ng-grid="queryResultGrid">
          </div>
          <div class="queryErrorMessage" ng-model="queryError" ng-show="isQueryErrorMessageVisible()">{{queryErrorMessage}}</div>
        </div>

        <!-- Login form -->
        <div id="loginForm" ng-controller="LoginFormController" ng-init="initialize()" ng-show="isLoginFormVisible()">
          <div class="center-block loginPanel">
            <h2>Login to MySQL server</h2>
            <form novalidate class="form-horizontal" role="form">
              <div class="form-group">
                <label for="loginFormName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" id="loginFormName" class="form-control" ng-model="name" />
                </div>
              </div>
              <div class="form-group">
                <label for="loginFormHostName" class="col-sm-3 control-label">Host name</label>
                <div class="col-sm-9">
                  <input type="text" id="loginFormHostName" class="form-control" ng-model="hostName" required autofocus />
                </div>
              </div>
              <div class="form-group">
                <label for="loginFormPort" class="col-sm-3 control-label">Port no.</label>
                <div class="col-sm-9">
                  <input type="text" id="loginFormPort" class="form-control" ng-model="portNumber" required />
                </div>
              </div>
              <div class="form-group">
                <label for="loginFormUsername" class="col-sm-3 control-label">User name</label>
                <div class="col-sm-9">
                  <input type="text" id="loginFormUsername" class="form-control" ng-model="userName" required />
                </div>
              </div>
              <div class="form-group">
                <label for="loginFormPassword" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" id="loginFormPassword" class="form-control" ng-model="password" required />
                </div>
              </div>
            </form>
            <div class="clearfix">
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" ng-click="addFavorite()" ng-disabled="loginForm.$invalid">Add as favorite</button>
                <button type="button" class="btn btn-default" ng-click="doTestConnection()" ng-disabled="loginForm.$invalid">Test connection</button>
                <button type="button" class="btn btn-primary" ng-click="connect()" ng-disabled="loginForm.$invalid">Connect</button>
              </div>
            </div>
            <div class="loginPanelAlertBlock">
              <div ng-show="isErrorMessageVisible()">
                <div class="alert alert-danger">
                  <strong>Error:</strong> {{errorMessage}}
                </div>
              </div>
              <div ng-show="isSuccessMessageVisible()">
                <div class="alert alert-success">
                  <strong>Success:</strong> {{successMessage}}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Main footer -->
      <div class="mainFooter" ng-controller="MainFooterController" ng-init="initialize()">
        <div class="mainStatusMessage pull-left">{{mainStatusMessage}}</div>
        <div class="pull-right" ng-show="isButtonsVisible()">
          <div class="pull-left footerButtonRight" ng-class="!isTableSelection() && 'footerButtonDisable'" ng-click="insertRow()">
            <span class="fa fa-plus"></span>
          </div>
          <div class="pull-left footerButtonRight" ng-class="!isRowSelection() && 'footerButtonDisable'" ng-click="confirmDeleteSelectedRow()">
            <span class="fa fa-trash-o"></span>
          </div>
          <div class="pull-left footerButtonRight" ng-click="refresh()">
            <span class="fa fa-refresh"></span>
          </div>
          <div class="pull-left footerButtonRight" ng-class="!hasPreviousPage() && 'footerButtonDisable'" ng-click="goPreviousPage()">
            <span class="fa fa-arrow-left"></span>
          </div>
          <div class="pull-left footerTextRight">{{getPagingInfo()}}</div>
          <div class="pull-left footerButtonRight" ng-class="!hasNextPage() && 'footerButtonDisable'" ng-click="goNextPage()">
            <span class="fa fa-arrow-right"></span>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<!-- Logout confirm modal dialog -->
<div id="logoutConfirmDialog" class="modal fade" ng-controller="LogoutConfirmDialogController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Would you really like to logout from MySQL server?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" ng-click="logout()">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Fatal modal dialog -->
<div id="fatalDialog" class="modal fade" ng-controller="FatalDialogController" ng-init="initialize()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Fatal error</h4>
      </div>
      <div class="modal-body">
        <p>Fatal error occurred. Go back to login screen.</p>
        <p>Reason: {{reason}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Delete row confirm modal dialog -->
<div id="deleteRowConfirmDialog" class="modal fade" ng-controller="DeleteRowConfirmDialogController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Would you really like to delete the selected row from MySQL server?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" ng-click="deleteRow()">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>

</html>
