<div id="confirmDialog" class="modal fade" ng-controller="ConfirmDialogController" ng-init="initialize()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{noButtonLabel}}</button>
        <button type="button" class="btn" ng-class="(isDanger()==true) ? 'btn-danger' : 'btn-primary'" ng-click="execute()">{{yesButtonLabel}}</button>
      </div>
    </div>
  </div>
</div>
