<div ng-controller="FavoriteListController" ng-init="initialize()" ng-show="isFavoriteListVisible()">
  <div id="favoriteList">
    <div class="list-group">
      <a href="#" class="list-group-item tableLink" ng-repeat="(name, favorite) in favorites" sglclick="selectFavorite(name)" ng-dblclick="connectFromFavorite($event, name)">
        <span class="glyphicon glyphicon-hdd"></span>
        {{name}}
        <button type="button" class="close" ng-click="deleteFavorite($event, name)">&times;</button>
      </a>
    </div>
  </div>
  <div class="sidebarFooter">
  </div>
</div>
