<div class="panel panel-default insertPanel" ng-controller="InsertRowPanelController" ng-show="isInsertRowPanelVisible()" ng-init="initialize()">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Insert row</h3>
    <div class="btn-group pull-right">
      <button type="button" class="close" ng-click="close()">&times;</button>
    </div>
  </div>
  <div class="panel-body insertForm">
    <div ng-show="isErrorMessageVisible()">
      <div class="alert alert-danger">{{errorMessage}}</div>
    </div>
    <form class="form-horizontal" role="form">
      <div class="form-group" ng-repeat="column in targetInputColumns(columnDefinitions)">
        <label for="{{column.name}}" class="col-sm-2 control-label">{{column.name}}</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="{{column.name}}" rows="2" ng-model="values[column.name]" ng-trim="false"></textarea>
        </div>
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="insertRow()">Insert</button>
      </div>
    </form>
  </div>
</div>
