<div id="loginForm" ng-controller="LoginFormController" ng-init="initialize()" ng-show="isLoginFormVisible()">
  <div class="center-block loginPanel">
    <form novalidate class="form-horizontal" role="form">
      <div class="form-group">
        <label for="loginFormName" class="col-sm-4 control-label">Name</label>
        <div class="col-sm-8">
          <input type="text" id="loginFormName" class="form-control" ng-model="name" />
        </div>
      </div>
      <div class="form-group">
        <label for="loginFormHostName" class="col-sm-4 control-label">Host name</label>
        <div class="col-sm-8">
          <input type="text" id="loginFormHostName" class="form-control" ng-model="hostName" ng-keyup="completePassword()" required autofocus />
        </div>
      </div>
      <div class="form-group">
        <label for="loginFormPort" class="col-sm-4 control-label">Port no.</label>
        <div class="col-sm-8">
          <input type="number" id="loginFormPort" class="form-control" ng-model="portNumber" ng-keyup="completePassword()" required />
        </div>
      </div>
      <div class="form-group">
        <label for="loginFormUsername" class="col-sm-4 control-label">User name</label>
        <div class="col-sm-8">
          <input type="text" id="loginFormUsername" class="form-control" ng-model="userName" ng-keyup="completePassword()" required />
        </div>
      </div>
      <div class="form-group">
        <label for="loginFormPassword" class="col-sm-4 control-label">Password</label>
        <div class="col-sm-8">
          <input type="password" id="loginFormPassword" class="form-control" ng-model="password" required />
        </div>
      </div>

      <div class="form-group">
        <label for="loginFormUsePortForwarding" class="col-sm-4 control-label">SSH2 Port forwarding</label>
        <div class="col-sm-8">
          <label class="radio-inline">
            <input type="radio" ng-model="usePortForwarding" value="no" /> No<br />
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="usePortForwarding" value="yes" /> Yes<br />
          </label>
        </div>
      </div>
      <div class="form-group" ng-show="isUsePortForwarding()">
        <label for="loginFormSsh2HostName" class="col-sm-4 control-label">SSH2 Host name</label>
        <div class="col-sm-8">
          <input type="text" id="loginFormSsh2HostName" class="form-control" ng-model="ssh2HostName" required autofocus />
        </div>
      </div>
      <div class="form-group" ng-show="isUsePortForwarding()">
        <label for="loginFormSsh2Port" class="col-sm-4 control-label">SSH2 Port no.</label>
        <div class="col-sm-8">
          <input type="number" id="loginFormSsh2Port" class="form-control" ng-model="ssh2PortNumber" required />
        </div>
      </div>
      <div class="form-group" ng-show="isUsePortForwarding()">
        <label for="loginFormSsh2AuthType" class="col-sm-4 control-label">Authentication type</label>
        <div class="col-sm-8">
          <select id="loginFormSsh2AuthType" class="form-control" ng-model="ssh2AuthType" ng-options="type for type in ssh2AuthTypes">
          </select>
        </div>
      </div>
      <div class="form-group" ng-show="isUsePortForwarding()">
        <label for="loginFormSsh2Username" class="col-sm-4 control-label">SSH2 User name</label>
        <div class="col-sm-8">
          <input type="text" id="loginFormSsh2Username" class="form-control" ng-model="ssh2UserName" required />
        </div>
      </div>
      <div class="form-group" ng-show="isUsePortForwarding()">
        <label for="loginFormSsh2Password" class="col-sm-4 control-label">SSH2 Password</label>
        <div class="col-sm-8">
          <input type="password" id="loginFormSsh2Password" class="form-control" ng-model="ssh2Password" required />
        </div>
      </div>
      <div class="form-group" ng-show="isUsePortForwardingPublicKeyAuth()">
        <label for="loginFormSsh2PrivateKey" class="col-sm-4 control-label">Private key</label>
        <div class="col-sm-8">
          <textarea class="form-control" ng-model="ssh2PrivateKey"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="loginFormUseSSL" class="col-sm-4 control-label">SSL</label>
        <div class="col-sm-8">
          <label class="radio-inline">
            <input type="radio" ng-model="useSSL" value="no" /> No<br />
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="useSSL" value="yes" /> Yes<br />
          </label>
        </div>
      </div>
      <div class="form-group" ng-show="isCACertificateVisible()">
        <label for="loginFormUseSSL" class="col-sm-4 control-label">CA certificate</label>
        <div class="col-sm-8">
          <textarea class="form-control" ng-model="caCert"></textarea>
        </div>
      </div>
      <div class="form-group" ng-show="isCACertificateVisible()">
        <label for="loginFormCheckCN" class="col-sm-4 control-label">Check CN</label>
        <div class="col-sm-8">
          <label class="radio-inline">
            <input type="radio" ng-model="checkCN" value="no" /> No<br />
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="checkCN" value="yes" /> Yes<br />
          </label>
        </div>
      </div>
    </form>
    <div class="clearfix">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ng-click="addFavorite()" ng-disabled="!canConnect()">Add as favorite</button>
        <button type="button" class="btn btn-default" ng-click="doTestConnection()" ng-disabled="!canConnect()">Test connection</button>
        <button type="button" class="btn btn-primary" ng-click="connect()" ng-disabled="!canConnect()">Connect</button>
      </div>
    </div>
  </div>
</div>
