<div class="mainFooter" ng-controller="MainFooterController" ng-init="initialize()">
  <div class="mainStatusMessage pull-left">{{mainStatusMessage}}</div>
  <!-- for Rows panel -->
  <div class="pull-right" ng-show="isRowsButtonsVisible()">
    <div class="pull-left footerButtonRight" ng-class="!isTableSelection() && 'footerButtonDisable'" ng-click="insertRow()">
      <span class="fa fa-plus" title="Insert a new row"></span>
    </div>
    <div class="pull-left footerButtonRight" ng-class="!isRowSelection() && 'footerButtonDisable'" ng-click="updateRow()">
      <span class="fa fa-pencil" title="Edit the selected row"></span>
    </div>
    <div class="pull-left footerButtonRight" ng-class="!isRowSelection() && 'footerButtonDisable'" ng-click="confirmDeleteSelectedRow()">
      <span class="fa fa-trash-o" title="Delete the selected row"></span>
    </div>
    <div class="pull-left footerButtonRight" ng-click="refreshRows()">
      <span class="fa fa-refresh" title="Refresh the row list"></span>
    </div>
    <div class="pull-left footerButtonRight" ng-class="!hasPreviousPage() && 'footerButtonDisable'" ng-click="goPreviousPage()">
      <span class="fa fa-arrow-left" title="Go to the previous page"></span>
    </div>
    <div class="pull-left footerTextRight">{{getPagingInfo()}}</div>
    <div class="pull-left footerButtonRight" ng-class="!hasNextPage() && 'footerButtonDisable'" ng-click="goNextPage()">
      <span class="fa fa-arrow-right" title="Go to the next page"></span>
    </div>
  </div>
  <!-- for Structure panel -->
  <div class="pull-right" ng-show="isStructureButtonsVisible()">
    <div class="pull-left footerButtonRight" ng-click="refreshStructure()">
      <span class="fa fa-refresh" title="Refresh the column list and the index list"></span>
    </div>
  </div>
  <!-- for Database panel -->
  <div class="pull-right" ng-show="isDatabaseButtonsVisible()">
    <div class="pull-left footerButtonRight" ng-click="createDatabase()">
      <span class="fa fa-plus" title="Create a new database"></span>
    </div>
    <div class="pull-left footerButtonRight" ng-class="!isDatabaseSelection() && 'footerButtonDisable'" ng-click="confirmDeleteSelectedDatabase()">
      <span class="fa fa-trash-o" title="Delete the database"></span>
    </div>
  </div>
  <!-- for Information panel -->
  <div class="pull-right" ng-show="isInformationButtonsVisible()">
    <div class="pull-left footerButtonRight" ng-click="refreshInformation()">
      <span class="fa fa-refresh" title="Refresh the information"></span>
    </div>
  </div>
  <!-- for Relation panel -->
  <div class="pull-right" ng-show="isRelationButtonsVisible()">
    <div class="pull-left footerButtonRight" ng-class="!isRelationSelection() && 'footerButtonDisable'" ng-click="confirmDeleteSelectedRelation()">
      <span class="fa fa-trash-o" title="Delete the relation"></span>
    </div>
    <div class="pull-left footerButtonRight" ng-click="refreshRelation()">
      <span class="fa fa-refresh" title="Refresh the foreign keys"></span>
    </div>
  </div>
</div>
