<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavbarController" ng-init="initialize();">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left" ng-show="isConnected()">
        <li ng-class="{active: isDatabaseActive()}"><a href="#" rel="popover_database" ng-click="showDatabaseInfo()"><span class="glyphicon glyphicon-hdd"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle databaseDropdownToggle" data-toggle="dropdown" title="{{selectedDatabase}}"><b class="caret"></b> {{selectedDatabase}}</a>
          <ul class="dropdown-menu databaseDropdownList">
            <li ng-repeat="database in databases" ng-click="selectDatabase($event, database)"><a href="#">{{database}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <navbar-menu-item title="Rows" icon="align-justify" click="selectRows()" active="isRowsActive()"></navbar-menu-item>
        <navbar-menu-item title="Structure" icon="wrench" click="selectStructure()" active="isStructureActive()"></navbar-menu-item>
        <navbar-menu-item title="Information" icon="info-sign" click="selectInformation()" active="isInformationActive()"></navbar-menu-item>
        <navbar-menu-item title="Relation" icon="random" click="selectRelation()" active="isRelationActive()"></navbar-menu-item>
        <navbar-menu-item title="Procedures/Functions" icon="fire" click="selectProcsFuncs()" active="isProcsFuncsActive()"></navbar-menu-item>
        <navbar-menu-item title="Query" icon="edit" click="selectQuery()" active="isQueryActive()"></navbar-menu-item>
        <li rel="tooltip" data-placement="bottom" title="Configure">
          <a href="#"><span class="glyphicon glyphicon-cog" ng-click="configure()"></span></a>
        </li>
        <li ng-show="isConnected()" rel="tooltip" data-placement="bottom" title="Logout">
          <a href="#"><span class="glyphicon glyphicon-off" ng-click="logout()"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
