<div id="queryPanel" ng-controller="QueryPanelController" ng-init="initialize()" ng-show="isQueryPanelVisible()">
  <div ui-ace="{mode: 'sql', theme: 'clouds', onLoad: aceLoaded}" ng-model="query" class="queryEditor"></div>
  <div class="queryMiddlePanel">
    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="executeQuery()">Execute</button>
  </div>
  <div id="queryResultGrid" class="gridStyle" ng-grid="queryResultGrid">
  </div>
  <div class="queryErrorMessage" ng-model="queryError" ng-show="isQueryErrorMessageVisible()">{{queryErrorMessage}}</div>
</div>
