<div id="structurePanel" ng-controller="StructurePanelController" ng-init="initialize()" ng-show="isStructurePanelVisible()">
  <div id="structureGrid" class="gridStyle" ng-grid="structureGrid">
  </div>
  <div class="middleFooter">
    <div class="pull-right">
      <div class="pull-left footerButtonRight" ng-class="!isTableSelection() && 'footerButtonDisable'" ng-click="addColumn()">
        <span class="fa fa-plus"></span>
      </div>
      <div class="pull-left footerButtonRight" ng-class="!isColumnSelection() && 'footerButtonDisable'" ng-click="confirmDeleteSelectedColumn()">
        <span class="fa fa-trash-o"></span>
      </div>
    </div>
  </div>
  <div class="subTitle">Indexes</div>
  <div id="indexesGrid" class="gridStyle" ng-grid="indexesGrid">
  </div>
</div>
