<div id="structurePanel" ng-controller="StructurePanelController" ng-init="initialize()" ng-show="isStructurePanelVisible()">
  <div id="structureGrid" class="gridStyle" ng-grid="structureGrid">
  </div>
  <div class="middleFooter">
    <div class="pull-left">
      <footer-button icon="eyedropper" click="selectDistinct()" title="Get values without overlaps" enable="isColumnSelection()" align="left"></footer-button>
    </div>
    <div class="pull-right">
      <footer-button icon="plus" click="addColumn()" title="Add a new column" enable="isTable() && isTableSelection()"></footer-button>
      <footer-button icon="pencil" click="editColumn()" title="Edit the selected column" enable="isTable() && isColumnSelection()"></footer-button>
      <footer-button icon="trash-o" click="confirmDeleteSelectedColumn()" title="Delete the selected column" enable="isTable() && isColumnSelection()"></footer-button>
    </div>
  </div>
  <div class="subTitle">Indexes</div>
  <div id="indexesGrid" class="gridStyle" ng-grid="indexesGrid">
  </div>
  <div class="middleFooter">
    <div class="pull-right">
      <footer-button icon="plus" click="addIndex()" title="Create a new index" enable="isTable() && isTableSelection()"></footer-button>
      <footer-button icon="trash-o" click="confirmDeleteSelectedIndex()" title="Delete the selected index" enable="isTable() && isIndexSelection()"></footer-button>
    </div>
  </div>
</div>
