<div id="updateRowDialog" class="modal fade" ng-controller="UpdateRowDialogController" ng-init="initialize()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update row</h4>
      </div>
      <div class="modal-body">
        <div ng-show="isErrorMessageVisible()">
          <div class="alert alert-danger">{{errorMessage}}</div>
        </div>
        <form class="form-horizontal" role="form">
          <div class="form-group" ng-repeat="column in targetInputColumns(columnDefinitions)">
            <label for="{{column.name}}" class="col-sm-3 control-label">{{column.name}}</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="{{column.name}}" rows="2" ng-model="values[column.name]" ng-trim="false" ng-disabled="isNullValues[column.name]"></textarea>
              <div class="checkbox" ng-show="!column.isNotNull()">
                <label>
                  <input type="checkbox" ng-model="isNullValues[column.name]" ng-change="onChangeIsNullValue(column.name)" />
                  NULL
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="createInsertStatement()">Show as INSERT</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="updateRow()">Update</button>
      </div>
    </div>
  </div>
</div>
