<div class="container windowTitlePanel" ng-controller="windowTitlePanelController" ng-init="initialize()">
  <div class="titleText pull-left">{{titleText}}</div>
  <div class="fa fa-external-link pull-right" title="Open new window" ng-click="openNewWindow()"></div>
  <div class="fa pull-right" ng-class="getAlwaysOnTopClass()" title="Always on top" ng-click="changeAlwaysOnTop()"></div>
  <div class="fa fa-caret-square-o-right pull-right" title="Move to other window" ng-click="moveOtherWindow()"></div>
</div>
