<div class="container windowTitlePanel" ng-controller="windowTitlePanelController" ng-init="initialize()">
  <div class="fa fa-times-circle pull-left" title="Close" ng-click="close()"></div>
  <div class="fa fa-minus-square pull-left" title="Minimize" ng-click="minimize()"></div>
  <div class="fa fa-plus-square pull-left" title="Maximize" ng-click="maximize()"></div>
  <div class="titleText pull-left">{{titleText}}</div>
  <div class="fa fa-expand pull-right" title="Fullscreen" ng-click="fullscreen()"></div>
  <div class="fa fa-external-link pull-right" title="Open new window" ng-click="openNewWindow()"></div>
  <div class="fa pull-right" ng-class="getAlwaysOnTopClass()" title="Always on top" ng-click="changeAlwaysOnTop()"></div>
</div>
